<div class="main-container">
  <h1>Daily To Do List</h1>
  <div class="input-container">
    <input type="text" placeholder="Add new list item" (keyup)="isEnter($event)" [(ngModel)]="initial"  #taskitem autofocus>
    <button class="input-container-add-btn"  (click)="addTask(taskitem.value)"><i class="fa-solid fa-circle-plus"></i><span>Add</span></button>
  </div>

  <div class="tasks-container">

    <div *ngFor="let t of tasks" class="tasks-container-task">
      <span [class.isDone]="t.isDone">{{t.title}}</span>
      <div>
        <button [class.display]="t.isDone" class="done-btn" (click)="doneTask(t)"><i class="fa-solid fa-circle-check"></i></button>
        <button  [class.display]="!t.isDone" class="done-btn undo" (click)="doneTask(t)"><i class="fa-solid fa-rotate-left"></i></button>
        <button class="delete-btn" (click)="deleteTask(t)"><i class="fa-solid fa-circle-xmark"></i></button>
      </div>
    </div>

  </div>
</div>